/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

a {
	text-decoration: none;
}

body{
	margin: 0px;
    font-family: Trebuchet MS;
}

/*header Section*/
.menucart{
	background: black;
	width: 100%;
	display: inline-block;
}

.menu{
	/*width: 70%;*/
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
	padding-left: 7vw;
	display: inline-flex;
	float: left;
}

.cart{
	/*width: 15%;*/
	padding-top: 1vw;
	/*padding-left: 3vw;*/
	padding-right: 7vw;
	display: inline-flex;
	float: right;
}

.cart > a > i {
	font-size: 20px;
}

.cart > a {
	font-weight: bolder;
	font-size: 17px;
	color: white;
    border-left: 1px solid grey;
    padding-left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.cart > a > span {
	font-size: 14px;
	font-weight: normal;
}

.menu > a {
	color: white;
	padding-left: 0.7vw;
	padding-right: 0.7vw;
	font-size: 14px;
}

.menu > a:hover {
	color: red;
}

.search{
	display: block;
    width: 80%;
    position: relative;
    overflow: hidden;
    margin: 2vw;
    margin-right: auto;
    margin-left: auto;
}

.search > input {
	padding: 20px;
    width: 100%;
    float: right;
    background-color: transparent;
    border: 1px solid #ccc;
}
.search > button {
	padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    display: block;
    right: 8px;
    top: 10px;
    border-color: #ff6363;
    background-color: transparent;
    font-weight: bold;
    font-size: 14px;
}

/*Carousel override*/

body .owl-theme .owl-nav.disabled+.owl-dots{
	position: absolute;
    display: block;
    bottom: 10px;
    left: 0;
    right: 0;
}
.blog .owl-theme .owl-nav.disabled+.owl-dots{
	position: relative;
    display: block;
    bottom: -30px;
    left: 0;
    right: 0;
    float: left;
}
.blog .owl-theme .owl-dots .owl-dot span {
	width: 13px;
    height: 13px;
    margin: 5px;
}
.blog .owl-theme .owl-dots .owl-dot.active span,.blog .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #4e4d4d;
}
content {
	display: block;
	position: relative;
	overflow: hidden;
	width: auto;
}
.content1 {
  	border-bottom: 1px solid #ccc;
    position: relative;
    display: block;
    overflow: visible;
}

.content1 > h1 {
	color: white;
	text-align: center;
	font-size: 3.5vw;
	display: block;
    position: relative;
	width: 30vw;
    margin-left: 35%;
    margin-top: -17%;
    z-index: 1;
}

.content1 > button {
  	border: 2px solid #ccc;
  	background-color: transparent;
  	color: white;
    position: relative;
	width: 8%;
    margin-left: 45vw;
    z-index: 1;
    padding: 0.5vw;
}

.content1 > button > a {
	text-decoration: none;
	color:white;
}

.content1 .owl-carousel .owl-item .item {
	display: block;
    position: relative;
    overflow: hidden;
    width: auto;
}
.content1 .owl-carousel .owl-item .item .caption {
    display: block;
    position: absolute;
    overflow: hidden;
    top: 25%;
    left: 25%;
    right: 25%;
    width: 30%;
    margin: auto;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.feature {
    position: relative;
    display: block;
    width: 90%;
    overflow: hidden;
    margin: 1vw auto;
    /*width: 90%;*/
    /*margin-top: 7vw;*/
    /*margin-bottom: 10vw;*/
    /*margin-left: 4vw;
    margin-right: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;*/
}

.feature > div {
	float: left;
	width: 25%;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-bottom: 2vw;
}

.feature > div > i {
	font-size: 25px;
	color: white;
	padding: 8px;
	height: 40px;
	width: 40px;
	float: left;
	margin-top: 20px;
    border-radius: 50%;
    background-color: black;
}

.feature > div > div {
	float: right;
	width: 75%;
}

.feature > div > div > h4 {
    margin-bottom: 10px;
}

.feature > div > div > span {
	font-size: 14px;
	color: grey;
}
.after_feature {
	display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    border-top: 1px solid lightgrey;
}
.content2 {
	display: block;
	width: 25%;
    position: relative;
    overflow: visible;
	padding-top: 35px;
	padding-left: 5%;
	float: left;
}

.navigation {
    border: 1px solid #ccc;
    margin-bottom: 30px;
    display: block;
    width: auto;
    position: relative;
    overflow: visible;
}

.navigation > div {
    display: block;
    width: auto;
    position: relative;
    overflow: visible;
    margin: 10px 20px;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}

.navigation > div:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.navigation > div > a > i {
    display: block;
    position: relative;
    float: left;
    font-size: 25px;
    padding-right: 10px;
    color: black;
}

/*.navigation > div:nth-child(1){
    margin-top: 2vw;
}*/

.navigation > div:nth-child(1) > a > i {
    transform: rotate(90deg);
    display: block;
    position: relative;
    float: left;
    font-size: 25px;
    padding-right: 10px;
    color: black;
}

.navigation > div:nth-child(1) > a > p > i {
    position: absolute;
    right: 0;
}

.navigation > div:last-child > a > p > i {
    position: absolute;
    right: 0;
}

.navigation > div > a > p {
    color: black;
}

.mobile-menu {
    display: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    overflow: hidden;
    padding: 30px 10px;
    background-color: #f9f9f9;
    border: 1px solid lightgrey;
    min-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: -1vw;
    left: 16vw;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content > ol {
	float: right;
	list-style-type: disc;
	margin-bottom: 3vw;
}

.dropdown-content > ol > a > li {
	padding: 5px;
	width: 100%;
	font-size: 14px;
}

.dropdown-content > ol > li {
	list-style-type: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    position: relative;
    left: -20px;
    margin-bottom: 15px;
}

.dropdown-content > ol > a {
	padding: 0px;
	color: grey;
}

.dropdown-content > ol > a:hover {
	background-color: unset;
	color: red;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}*/

.discount {
	color: white;
	background-color: red;
  	border: 1px solid #ccc;
  	padding: 30px;
  	margin-top: 25px;
  	margin-bottom: 25px;
  	display: block;
    width: auto;
    position: relative;
    overflow: visible;
}

.discount > span {
	text-align: center;
}

.discount > span:nth-child(1) {
	font-size: 20px;
	width: 100%;
	display: block;
}

.discount > span > p:nth-child(1) {
	font-size: 6vw;
	width: 50%;
	display: block;
	float: left;
	margin: 0px;
    font-weight: 600;
}

.discount > span > p:nth-child(2) {
	text-align: left;
	font-size: 3vw;
	width: 50%;
	display: block;
	float: left;
	margin: 0px;
    font-weight: 600;
}

.discount > span:nth-child(3) {
    font-size: 3vw;
    font-weight: 600;
	width: 100%;
	display: block;
}

.discount > span:nth-child(4) {
	font-size: 11px;
	width: 100%;
	display: block;
	padding-top: 25px;
	padding-bottom: 25px;
}

.discount > a {
	font-size: 75%;
	font-weight: 600;
	text-decoration: underline;
	text-align: center;
    color: white;
	width: 100%;
	display: block;
}

.deals {
	background-image: url('../../images/deals.jpg');
	color: white;
	text-align: center;
	display: block;
    width: auto;
    position: relative;
    overflow: visible;
}

.deals > span:nth-child(1) {
    font-size: 120%;
    /*font-weight: 600;*/
	width: 100%;
	display: block;
	padding-top: 25px;
}

.deals > span:nth-child(2) {
    font-size: 4vw;
    font-weight: 700;
	width: 100%;
	display: block;
}

.deals > span:nth-child(3) {
    font-size: 2vw;
    font-weight: 700;
	width: 100%;
	display: block;
}

.deals > span:nth-child(4) {
    font-size: 4vw;
    font-weight: 700;
	width: 100%;
	display: block;
}

.deals > a {
	color: red;
    font-size: 1vw;
    text-decoration: underline;
    /*font-weight: 700;*/
	width: 100%;
	display: block;
	padding-top: 15px;
	padding-bottom: 25px;
}

/*.deals > img {
	width: 100%;
	display: block;
}*/

.blog > span {
	border-right: 10px black;
}

.owl-carousel .owl-stage-outer {
    border: 1px solid #ececec;
    /*padding: 1vw;*/
    width: auto;
}

.blog .owl-carousel .owl-item img {
	width: 85% !important;
	padding: 1.5vw;
}
.content3 {
	display: block;
	overflow: auto;
	width: 75%;
	padding: 22px;
}

.content3 > .products {
	width: 29%;
	border: 1px solid grey;
	float: left;
	padding: 25px;
	margin: 13px;
}

.content3 > .products > * {
    cursor: pointer;
}

.content3 > .products:nth-child(6) {
	background-image: url(../../images/product_6.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.content3 > .products:nth-child(6) > span {
	text-align: left;
	color: white;
	display: block;
    width: 6vw;
    margin-bottom: 130%;
    font-weight: 900;
    font-size: 30px;
}

.content3 > .products:nth-child(10) {
	background-image: url(../../images/product_10.png);
	background-repeat: no-repeat;
    background-position: bottom;
}

.content3 > .products:nth-child(10) > span {
	text-align: left;
	color: white;
	display: block;
    width: 6vw;
    font-weight: 900;
    font-size: 30px;
    margin-top: 130%;
}

.content3 > .products > img {
	background-color: #f1f1f1;
	width: 100%;
	/*padding: 20px;*/
	display: block;
}

.content3 > .products > span {
	width: 100%;
	display: block;
	font-size: 15px;
	color: grey;
	padding: 0.2vw;
}

.content3 > .products > span:nth-child(3) {
    min-height: 45px;
}

.content3 > .products > span:nth-child(4) {
	margin-bottom: 15px;
	color: black;
	font-weight: bold;
}

.content3 > .products > div {
    width: 100%;
}
.content3 > .products > div > a {
	text-decoration: none;
    color: black;
    font-size: 13.5px;
    font-weight: bold;
    border: 2px solid red;
    width: 65%;
    display: block;
    text-align: center;
    padding: 6px;
    position: relative;
    overflow: hidden;
    float: left;
}

div .content3 > .products > div > i {
	color: darkgrey;
    font-size: 17px;
    padding: 7px 0px 7px 6%;
    display: block;
    width: auto;
    position: relative;
    overflow: hidden;
    float: left;
}

div .content3 > .products > div > i:hover {
    color: grey;
}

.content3 > .products .checked {
	color: gold;
}

/* FOOTER CONTENT*/

footer {
	border-top: 1px solid grey;
	/*padding: 4vw;*/
	/*padding-bottom: 3vw;*/
	/*height: 15vw;*/
	display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}

footer > div > div {
	border-right: 1px solid grey;
	/*width: 20%;*/
	float: left;
	display: block;
}

.footercontent1 {
    margin: 30px auto;
    line-height: 2;
    display: flex;
    width: 90%;
    position: relative;
    overflow: hidden;
}

.footercontent1 > div > span {
	/*padding-bottom: 15px;*/
}
.about {
	display: block;
    overflow: hidden;
    position: relative;
	padding: 20px;
	padding-top: 0px;
	width: 25%;
    height: inherit;
	word-wrap: break-word;
}

.about > span:nth-child(1) {
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	display: block;
	padding-bottom: 1.5vw;
}

.about > span:nth-child(2) {
	color: grey;
	font-size: 13px;
	line-height: 1.5;
	width: 100%;
	display: block;
	padding-bottom: 3vw;
}

.sociallogin {
	border-top: 1px solid grey;
	padding-top: 30px;
	display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.sociallogin > a > i {
	font-size: 22px;
    line-height: 28px;
    color: black;
    padding: 3px;
    height: 38px;
    width: 38px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    margin: 3px;
}

.sociallogin > a > i:hover {
    color: white;
    background-color: red;
    border: 2px solid red;
}

.information {
	display: block;
    overflow: hidden;
    position: relative;
	padding: 20px;
	padding-top: 0px;
    width: 17%;
    height: inherit;
}

.information > span {
	padding-bottom: 1.5vw;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	display: block;
}

.information > a {
	font-size: 13px;
    line-height: 2.5;
	color: red;
	width: 100%;
	display: block;
}

.information > a:hover {
	color: grey;
}

.buyfromus {
	display: block;
    overflow: hidden;
    position: relative;
	padding: 20px;
	padding-top: 0px;
    width: 17%;
    height: inherit;
}

.buyfromus > span {
	padding-bottom: 1.5vw;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	display: block;
}

.buyfromus > a {
    line-height: 2.5;
	font-size: 13px;
	color: red;
	width: 100%;
	display: block;
}

.buyfromus > a:hover {
	color: grey;
}

.myaccount {
	display: block;
    overflow: hidden;
    position: relative;
	padding: 20px;
	padding-top: 0px;
    width: 15%;
    height: inherit;
}

.myaccount > span {
	padding-bottom: 1.5vw;
	font-weight: bold;
	font-size: 15px;
	width: 100%;
	display: block;
}

.myaccount > a {
    line-height: 2.5;
	font-size: 13px;
	color: red;
	width: 100%;
	display: block;
}

.myaccount > a:hover {
	color: grey;
}

.storeinfo {
	display: block;
    overflow: hidden;
    position: relative;
	border: none;
	padding: 20px;
	padding-top: 0px;
    /*width: auto;*/
    display: block;
	width: 25%;
	word-wrap: break-word;
}

.storeinfo > span:nth-child(1) {
    line-height: 2;
	padding-bottom: 1.5vw;
	font-size: 15px;
	font-weight: bold;
	color: black;
	width: 100%;
	display: block;
}

.storeinfo > span {
    line-height: 2.5;
	font-size: 13px;
	color: grey;
	width: 100%;
	display: block;
}

.newsletter {
	border-top: 1px solid grey;
	padding-top: 2vw;
    text-align: center;
    width: auto;
    display: block;
}

.newsletter > span:nth-child(1) {
    text-align: initial;
	font-size: 15px;
	font-weight: bold;
	color: black;
	width: 100%;
	display: block;
}

.newsletter > span {
    text-align: initial;
	padding-bottom: 15px;
	font-size: 13px;
	color: grey;
	width: 100%;
	display: block;
}

.newsletter > input {
    width: 80%;
    display: block;
    overflow: hidden;
    position: relative;
    border: 1px solid #eae9e9;
    margin: auto;
    padding: 6px 10px;
    background-color: whitesmoke;
}

.newsletter > a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    width: 30%;
    margin: 5px auto;
    display: block;
    overflow: hidden;
    position: relative;
    border: 1px solid red;
    padding: 3px;
    background-color: red;
    color: white;
}

.footercontent2 {
	width: 100%;
	display: block;
    overflow: hidden;
    position: relative;
}

.copyright {
    background-color: black;
    border: none;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 15px;
}

.copyright > span {
	font-size: 13px;
    color: white;
	padding-left: 8vw;

}

.scrolltop {
	position: fixed;
	font-size: 50px !important;
    width: 10%;
    right: 0;
    bottom: 5px;
    color: red;
    /*z-index: 5;*/
}




@media only screen and (max-width: 1120px) {
    .content3 > .products > div > a {
        font-size: 13px;
    }
}
@media only screen and (max-width: 992px) {
    .content3 > .products > div > a {
        font-size: 12px;
        padding: 6px 2px;
    }
    div .content3 > .products > div > i {
        padding: 8px 0px 8px 4%;
    }
}
@media only screen and (max-width: 892px) {
    .content2 {
        width: 30%;
    }
    .content3 {
        width: 70%;
    }
    .navigation > div {
        margin: 10px 10px;
        padding: 5px 6px;
    }
    .content3 > .products {
        width: 45%;
        margin: 10px;
    }
    div .content3 > .products > div > i {
        padding: 8px 0px 8px 5%;
    }
}
@media only screen and (max-width: 769px) {
    .menu {
        padding-left: 4vw;
    }
    .feature > div {
        width: 50%;
    }
    .content1 .owl-carousel .owl-item .item .caption {
        font-size: 30px;
        width: 38%;
    }
    .dropdown-content > ol {
        padding-left: 25px;
    }
}

@media only screen and (max-width: 600px) {
    header .menucart {
        display: none;
    }

    header .search {
        display: none;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.4s;
        border-radius: 25%;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .sidenav {
        display: none;
        height: 100%;
        width: 0;
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .mobile-menu {
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-color: red;
        color: white
    }

    .mobile-menu .submenu {
        display: block;
        position: relative;
        width: auto;
        margin: auto;
        overflow: hidden;
        float: left;
    }

    .mobile-menu .my-account {
        display: block;
        position: relative;
        width: auto;
        margin: auto;
        overflow: hidden;
        float: left;
    }

    .mobile-menu .my-account * div{
        display: none;
    }

    .mobile-menu .my-account .fa-user{
        display: block;
        font-size: 25px;
    }

}
